<div>
  <section class="splash-header">
    <div layout-align="center center" class="alignCenter mainHeadline">
      <br>
      Welcome to CAFFIENE CAREER. Your one stop shop to create all the beautiful Résumés.
      Building a Résumé should be fun, simple and intuitive. Caffiene Career tries to give that overall experience.
      Fill in the required information like your personal info, work experience, education, skills, choose the style
      of the Résumé you want and voilà! you'll have your beautiful Résumé as an end product. Try yourself!
      <br>
    </div>
    <div layout-align="center center" class="alignCenter startBtn">
      <md-button href="#/summary" class="md-raised md-primary material-cust-medium-button" md-colors="{background: 'pink'}">Start building your Resume now ➔</md-button>
    </div>

  </section>

  <div class="functionalityIcons">
    <div layout="row" layout-xs="column" layout-align="center center">
      <div id="codefund_ad"></div>
    </div>
 
  
  <div class="demoImageBlock">
    <div class="team">
      Team Details</div><br><br>
    <div style="display: flex; flex-wrap: wrap; width: 100%;">
      <div style="flex: 1; text-align: center;">
        <img src="images/sania.png" class="header-icons" style="width:100px; height:100px; border-radius:50%">
          <h3 style="font-weight:bold;">Sania Verma</h3>
          <p>Student<br>
        B.tech Mechanical engg <br>2nd year<br>
          <a href="https://www.linkedin.com/in/sania-verma-146514231/" > linkedIn profile link</a></p>
       
    </div>
    
    
    <div style="flex: 1; text-align: center; ">
      <img src="images/devanshi.png" class="header-icons" style="width:100px; height:100px; border-radius:50%">
      <h3 style="font-weight:bold;">Devanshi Gahlot</h3>
      <p>Student<br>
    B.tech Electrical engg <br>2nd year<br>
      <a href="https://www.linkedin.com/in/devanshi-gahlot-10bb53223/"  > linkedIn profile link</a></p>
    </div>
    <div style="flex: 1; text-align: center;">
      <img src="images/utkarsh.png" class="header-icons" style="width:100px; height:100px; border-radius:50%;"> 
          <h3  style="font-weight:bold;">Utkarsh Mudgal</h3>
          <p>Student<br>
        B.tech Footwear engg <br>2nd year<br>
          <a href="https://www.linkedin.com/in/utkarsh-m-501532226/"  > linkedIn profile link</a></p>
    </div>
    <div style="flex: 1; text-align: center;">
      <img src="images/sahil.png" class="header-icons" style="width:100px; height:100px; border-radius:50%;"> 
          <h3 style="font-weight:bold;">Sahil Sadana</h3>
          <p>Student<br>
        B.tech Agriculture engg <br>2nd year<br>
          <a href="https://www.linkedin.com/in/sahil-sadana-8ab824219/" > linkedIn profile link</a></p>
    </div>

    <div style="flex: 1; text-align: center; ">
      <img src="images/hardik.png" class="header-icons" style="width:100px; height:100px; border-radius: 50%;"> 
      <h3 style="font-weight:bold;">Hardik Chadda</h3>
        <p>Mentor<br>
     Lecturer<br> Faculty of Science<br>
        <a href="https://www.linkedin.com/in/hardik-chadda/" > linkedIn profile link</a></p>
  </div>
    </div>






  </div>
  <footer>
      <div layout="row" layout-align="center center">
          <p>Made with <span style="color:red;">❤</span> <a href="https://www.dei.ac.in/dei/" target="_blank">by DEI, Agra</a></p>
      </div>
  </footer>
</div>